*/ {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
}
main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
  width: 600px;
  height: 600px;

  overflow: hidden;
  margin: 10px;
}
.picture {
  width: 180px;
  height: 180px;
  border: 3px solid #000;
}
img {
  width: 180px;
  height: 180px;
}
